<!DOCTYPE html>
<html lang="en">
{% load static %}
  <body class="about-page">
     <div class="container2">
        {% include 'header.html' %}
        <div class="content">
            <div class="about-section">
                <div class="about-image">
                    <img src="{% static 'img/dad1.jpg' %}" alt="About Us Image">
                    <h2 class="intro"> Mr. Haranadh Chongala </h2>
                </div>
                <div class="about-details">
                    <h1>About Founder</h1>
                          <p>
                              Introducing an esteemed Headmaster, a visionary leader who stands at the forefront of educational excellence. With an unwavering commitment to fostering a positive learning environment, this exceptional headmaster brings a wealth of experience and a passion for nurturing young minds.
                          </p>

                          <p>
                              Guided by a deep understanding of educational trends and innovative teaching methods, the headmaster leads with an inclusive approach that ensures each student receives personalized support tailored to their unique strengths and needs.
                          </p>

                          <p>
                              As a mentor and role model, the headmaster cultivates a culture of respect, empathy, and collaboration among students, teachers, and parents. Their approachable nature encourages open communication and meaningful partnerships, creating a strong foundation for academic success.
                          </p>

                          <p>
                              Beyond academic achievements, the headmaster places a strong emphasis on character development, instilling values of integrity, responsibility, and social awareness. Through inspirational leadership, they motivate students to become responsible citizens and compassionate individuals poised to make positive contributions to society.
                          </p>

                          <p>
                              With a forward-thinking vision, the headmaster actively seeks opportunities to enhance the school's offerings by integrating technology, creative arts, and sports into the curriculum. Their dedication to providing a comprehensive education ensures students are well-prepared for success in both academics and life.
                          </p>

                          <p>
                              The school community is indeed fortunate to have the guidance of such a dynamic and empathetic headmaster. Under their leadership, students are poised to thrive and excel, emerging as leaders and influencers of tomorrow's world.
                          </p>
                          <div class="vertical-space"></div>
                          <b>M.A., B.Ed., CTTC </b>
                          <div class="vertical-space"></div>
                          <b>Contact no: 9553522292 </b>
                </div>

            </div>
        </div>
        <div class="content">
                <div class="about-section">
                    <div class="about-details">
                        <h1>About Principle</h1>
                            <p class="description">
                                The principal madam is the heart and soul of the institution, embodying qualities that inspire and lead to positive transformations. With a clear vision and unwavering dedication, she guides the school towards educational excellence.
                            </p>

                            <p class="description">
                                Beyond administrative tasks, the principal madam is a visionary leader who fosters a culture of collaboration and innovation. She empowers educators and staff to bring out their best, creating an environment where every student's potential is nurtured.
                            </p>

                            <p class="description">
                                One of the hallmarks of the principal madam is her ability to connect with students. She knows each student by name and takes a genuine interest in their well-being and success. Her approachable nature creates a safe space where students can freely express themselves.
                            </p>

                            <p class="description">
                                The principal madam is a problem solver, adept at handling challenges and finding creative solutions. She builds relationships with parents, engaging them as partners in their child's education journey, and ensuring a strong sense of community.
                            </p>

                            <p class="description">
                                Leading by example, the principal madam sets high standards of integrity, ethics, and professionalism. She prioritizes inclusivity, diversity, and respect, cultivating an atmosphere where everyone feels valued and accepted.
                            </p>

                            <p class="description">
                                The impact of the principal madam reaches far beyond the academic years. Her legacy echoes in the achievements of students, the dedication of teachers, and the positive spirit of the entire school community. Her influence shapes the future of generations to come.
                            </p>
                            <div class="vertical-space"></div>
                            <b>M.A., B.Ed</b>
                            <div class="vertical-space"></div>
                            <b>Contact no: 879793585</b>
                    </div>
                    <div class="about-image2">
                        <img src="{% static 'img/mom1.png' %}" alt="About Us Image">
                        <h2 class="intro"> Ms. Ramana Chongala </h2>
                    </div>
                </div>
        </div>
         <marquee direction="left" behavior="scroll" scrollamount="9">
                         <img src="{%static 'img/marquee3.jpg'%}" alt="Scrolling Image">
                         <img src="{%static 'img/marquee3.jpg'%}" alt="Scrolling Image">
                         <img src="{%static 'img/marquee3.jpg'%}" alt="Scrolling Image">
         </marquee>
     </div>
  </body>
{% include 'footer.html' %}
</html>