{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBV School</title>
    <link rel="stylesheet" href= "static/css/carousel.css">
    <script src="{%static 'js/carousel.js' %}" ></script>
</head>
    <header class="header">
        <a href="/"><img src="{%static 'img/logo.png'%}" alt="Logo" class="logo"></a>
            <nav class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="aboutus">About Us</a></li>
                    <li><a href="courses">Courses</a></li>
                    <li><a href="events">Events</a></li>
                    <li><a href="contact">Contact Us</a></li>
                    <li id="darkModeListItem" ><button class="toggle-dark-mode" id="darkModeToggle" >Night Mode</button></li>
                </ul>
            </nav>
    </header>

